body, html {
  margin: 0 !important;
  padding: 0 !important;
}

$danger: #660404;
$primary: #660404;
$secondary: #D1B4B4;

#selection {
  background-color: red;
  background-image: url('https://images.unsplash.com/photo-1531747056595-07f6cbbe10ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  background-size: cover;
  background-position-y: center;
  object-fit: cover;
  padding: 5rem 0;
  margin-bottom: 1rem;

  .is-mobile {
    .container {
      width: 80% !important;
    }

    hr {
      &.separator {
        background-color: white;
        color: white;
        border-top: 3px ​solid white !important;
      }
    }
  }

  .tango-logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .ukata-logo {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  h1 {
    font-family: 'Ubuntu', sans-serif;
  }

  .b-form-datepicker {
    #example-datepicker {
      color: white !important;
    }

    #example-datepicker__value_ {
      text-align: left;
      color: white !important;
      font-size: 1rem;
    }
  }

  .custom-select {
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
  }

  // .custom-select::after {
  //   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  //   color: white !important;
  // }

  .multiselect {
    height: 38px !important;

    .multiselect__select {
      &::before {
        color: white !important;
      }
    }

    .multiselect__tags {
      line-height: 20px;

      .multiselect__tags-wrap {
        span.multiselect__tag {
          background-color: blue;
        }
      }
      .multiselect__placeholder {
        color: white;
        font-size: 1rem;
      }
    }
  }

  .input-group {
    .form-control {
      &::placeholder {
        color: white;
      }
    }

    .input-group-append {
      align-items: center;
      cursor: pointer;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;

      .input-group-text {
        border-radius: 70%;
        background-color: #996F6F;
        color: white !important;
        border: none !important;
        height: 2em;
        width: 2em;
        justify-content: center;
        margin-right: 0.5rem;
        font-size: 1rem;

        &:hover {
          background-color: white;
          color: $primary !important;
        }
      }
    }
  }

  .custom-select,
  .multiselect__tags,
  .dropdown,
  .input-group>.form-control,
  .input-group-append {
    background-color: $primary !important;
    color: white !important;
    border: 1px solid $primary !important;
    height: 100%;
  }

  .multiselect__content-wrapper {
    margin-top: 1rem !important;
  }
}

#list {
  table {
    border-collapse:separate !important;
    border-spacing: 0 5px !important;

    &.table-striped {
      tbody {
        span {
          &.date {
            &::before,
            &::after {
              content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
              text-decoration: line-through;
            }
          }
        }

        tr {
          td {
            border-right: 1px solid rgba(102, 4, 4, 0.3) !important;
            top: 35%;
          }

          &:not(.b-table-empty-row) td:nth-child(1) {
            background-color: $primary !important;
            color: white !important;
            width: 234px;
            font-size: 20px;
          }

          &:nth-of-type(odd) {
            background-color: rgba(102, 4, 4, 0.09) !important;
            color: #660404;
          }

          &:nth-of-type(even) {
            background-color: rgba(209, 179, 179, 1) !important;
            color: #660404;
          }
        }
      }
    }

    thead {
      tr {
        th:nth-child(1) {
          div {
            color: transparent;
          }
        }
      }
    }

    th {
      color: $primary !important;
      font-size: 24px;
      vertical-align: middle !important;
    }

    tr {
      td {
        vertical-align: middle !important;
        text-align: center;

        &:nth-child(4) {
          text-align: left;
        }
      }
    }
  }

  ul[role="menubar"] {
    padding: .5rem 0;
    border-top: 1px solid $primary !important;
    border-bottom: 1px solid $primary !important;
    border-radius: unset !important;

    li {
      &.flex-fill {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      [role="menuitem"],
      [role="menuitemradio"] {
        border-radius: 50%;
        background-color: $primary;
        color: white;
        height: 2em;
        width: 2em;
        font-size: 1.1rem;
        line-height: 2em;
        padding: 0 !important;
        margin: 0 !important;
        flex-grow: unset !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button[aria-checked="true"] {
        border-radius: 50%;
        height: 2em;
        width: 2em;
        background-color: $secondary;
        border: none;
        color: $primary;
      }

      button[aria-checked="false"] {
        height: 50px;
        width: 50px;
        color: rgba(102, 4, 4, 0.3);
        background-color: white !important;
        border: none;
        font-size: 1.1rem;
      }
    }
  }
}

.nav.nav-tabs {
  border-bottom: 3px solid $primary;

  .nav-item {
    .nav-link.active {
      background-color: $primary !important;
      border-radius: 8px !important;
      color: white !important;
      margin: 0 !important;
    }
  }
}
input[type="text"],
input[type="text"].multiselect__input,
input[type="text"].multiselect__input::placeholder {
  background-color: $primary !important;
  color: white !important;
}

#map {
  padding: 2rem 0;

  .gm-style-mtc {
    width: 150px;
    border: 1px solid $primary;

    button {
      width: 100%;
      background: #fff;
      // filter: blur(1px);

      &[aria-checked="true"] {
        color: $primary !important;
      }
    }
  }
}

@import 'node_modules/bootstrap/scss/bootstrap'